<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      <a href="/docs">View API docs</a>
      <a href="/info">View runtime info</a>
    </p>

  </body>
</html>
